{% extends "base_admin.html" %}

{% block title %}Applications{% endblock %}

{% block content %}
{% for drive in drives %}

<div class="container mt-4">
    <h3 class="mb-3">Ongoing Drive</h3>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Job Title</th>
                <th>Description</th>
                <th>Eligibility</th>
                <th>Deadline</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ drive.id }}</td>
                <td>{{ drive.company.company_name }}</td>
                <td>{{ drive.job_title }}</td>
                <td class="text-truncate" style="max-width: 250px;">
                    {{ drive.job_description }}
                </td>
                <td>{{ drive.eligibility }}</td>
                <td>{{ drive.deadline }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}
